spring:
  profiles:
    active: dev
  application:
    name: timefit-back
  mvc:
    favicon:
      enabled: false

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 100MB

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate: INFO
    org.example.timefit: DEBUG
    org.springframework.security: WARN
    me.paulschwarz.springdotenv: INFO

jwt:
  secret: ${JWT_SECRET}
  issuer: timefit
  access-token:
    expiration: 900000
  refresh-token:
    expiration: 604800000

#actuator 설정
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

---
# 개발 환경
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

---
# 운영 환경
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://${SUPABASE_HOST}:${SUPABASE_PORT}/${SUPABASE_DB}
    username: ${SUPABASE_USER}
    password: ${SUPABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop # 임시: 초기 배포용
    show-sql: false

---

# SpringDoc 최소 설정 추가
springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    tags-sorter: alpha          # 태그(컨트롤러) 알파벳 순 정렬
    operations-sorter: method   # API 메서드별 정렬 (GET, POST, PUT...)
  paths-to-match:
    - /api/**                   # /api/** 경로만 문서화